<%= turbo_stream_from(@players_event, :registrations) %>
<%= turbo_stream_from(@goalies_event, :registrations) %>
<div style="margin: 20px">
<div style="margin-bottom: 10px">
  <strong>Start time: </strong><%= @players_event.start_at.strftime('%b %e, %l:%M %p') %>
</div>
<h4><strong>Players</strong></h4>
<%= render "registrations/list", event: @players_event %>
<h4 style="margin-top: 10px"><strong>Goalies</strong></h4>
<%= render "registrations/list", event: @goalies_event %>
</div>
