<%= turbo_stream_from(@players_event, :registrations) %>
<%= turbo_stream_from(@goalies_event, :registrations) %>
<div>
  <strong>Start time: </strong><%= @players_event.start_time %>
</div>
<h3><strong>Players</strong></h1>
<%= render "registrations/list", event: @players_event %>
<h3><strong>Goalies</strong></h1>
<%= render "registrations/list", event: @goalies_event %>
